<?php
use Smartosc\Project1\Block\DisplayDetailArticle;
/**
 * @var DisplayDetailArticle $block
 */
$article = $block->getArticleById();
?>

<div>
    <?php foreach ($article as $item)  { ?>
        <h3>Id: <?php echo $item['article_id'] ?></h3>
        <h3>Title: <?php echo $item['title'] ?></h3>
        <h3>Content: <?php echo $item['content'] ?></h3>
        <h3>Image: <img src="<?php echo $item['image'] ?>" ></h3>
        <h3>Create At: <?php echo $item['create_at'] ?></h3>
        <h3>Update At: <?php echo $item['update_at'] ?></h3>
    <?php } ?>

    <hr>
    <h2><a href="/project1/index/listarticle">Come back Article List</a></h2>
</div>

