<?php
use Smartosc\Project1\Block\DisplayAllArticle;

/**
 * @var DisplayAllArticle $block
 */
$limitConfigValue = $block->getLimitPageConfig();
$pageIndex = $block->getPageIndex();
$listAllArticle = $block->getAllArticle();
$listArticlePaging = $block->getAllArticlePaging($limitConfigValue);
?>
<style>
    table{
        border-collapse: collapse;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    td, th {
        border: 1px solid #dddddd;
    }
    ul.paging {
        list-style-type: none;
        margin-left: 50px;
    }
    ul.paging li{
        display: inline-block;
        margin-right: 5px
    }
    ul.paging li a.active{
        background-color: greenyellow;
        color: black;
        font-weight: bold;
        font-size: 18px
    }

    ul.paging li a{
        background-color: white;
        border: solid 1px black;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-size: 15px
    }
</style>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Content</th>
			<th>Image</th>
			<th>Create At</th>
			<th>Update At</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
        <strong>Limit Per Page: <span style="color: red; font-size: 20px"><?php echo $limitConfigValue ?></span></strong>
        <?php
        foreach ($listArticlePaging as $key=>$item){ ?>
            <tr>
                <td><?php echo $item['article_id'] ?></td>
                <td><?php echo $item['title'] ?></td>
                <td><?php echo $item['content'] ?></td>
                <td><img src="<?php echo $item['image'] ?>"></td>
                <td><?php echo $item['create_at'] ?></td>
                <td><?php echo $item['update_at'] ?></td>
                <td><a href="/project1/index/detailarticle/?id=<?php echo $item['article_id'] ?>">Show detail</a></td>
            </tr>
        <?php
        }
        ?>
	</tbody>
</table>

<ul class="paging">
    <?php if (count($listAllArticle) >= $limitConfigValue) {
        for ($i = 1; $i <= ceil(count($listAllArticle) / $limitConfigValue); ++$i){ ?>
            <?php if ($pageIndex == $i || (is_null($pageIndex) && $i == 1)) {?>
                <li><a class="active" ><?php echo $i?></a></li>
	        <?php }
	        else { ?>
                <li><a href="/project1/index/listarticle/?page=<?php echo $i?>"><?php echo $i?></a></li>
	        <?php } ?>
        <?php }
    } ?>
</ul>

